.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

input {
  max-width: 30%;
  max-height: 70%;
  width: 300px;
  height: 50px;
  font-size: 20px;
  color: rgb(136, 136, 136);
  background-color: #222222;
  border-radius: 6px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  padding-left: 10px;
}

button {
  margin-top: 30px;
  width: 100px;
  height: 40px;
  background-color: rgba(240, 255, 255, 0);
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-left-width: 1px;
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-color: rgb(0, 0, 0);
  color: #cfcfcf;
}

button#compare {
  border-right-width: 1px;
}

button#year {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

button#compare {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

button:focus {
  background-color: black;
  color: aliceblue;
}

button:hover{
  background-color: rgb(14, 14, 14);
  color: aliceblue;
}

input :focus {
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

.App-header {
  background-color: #2d2b30;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}